.body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 20px 0 50px;
}

.message {
  text-align: center;
  color: #636363;

}

.message:hover {
  text-decoration: none;
  color: green;

}

.allChats {
  display: flex;
  gap: 150px;
  justify-content: center;
}